@import 'tailwindcss';
@import '@vue-flow/core/dist/style.css';
@import '@vue-flow/core/dist/theme-default.css';
@import '@vue-flow/node-resizer/dist/style.css';
@import 'primeicons/primeicons.css';
/* @import './flowchart.css'; */

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary-50: oklch(0.979 0.021 166.113);
  --color-primary-100: oklch(0.95 0.052 163.051);
  --color-primary-200: oklch(0.905 0.093 164.15);
  --color-primary-300: oklch(0.845 0.143 164.978);
  --color-primary-400: oklch(0.765 0.177 163.223);
  --color-primary-500: oklch(0.696 0.17 162.48);
  --color-primary-600: oklch(0.596 0.145 163.225);
  --color-primary-700: oklch(0.508 0.118 165.612);
  --color-primary-800: oklch(0.432 0.095 166.913);
  --color-primary-900: oklch(0.378 0.077 168.94);
  --color-primary-950: oklch(0.262 0.051 172.552);

  --color-error-50: oklch(0.971 0.013 17.38);
  --color-error-100: oklch(0.936 0.032 17.717);
  --color-error-200: oklch(0.885 0.062 18.334);
  --color-error-300: oklch(0.808 0.114 19.571);
  --color-error-400: oklch(0.704 0.191 22.216);
  --color-error-500: oklch(0.637 0.237 25.331);
  --color-error-600: oklch(0.577 0.245 27.325);
  --color-error-700: oklch(0.505 0.213 27.518);
  --color-error-800: oklch(0.444 0.177 26.899);
  --color-error-900: oklch(0.396 0.141 25.723);
  --color-error-950: oklch(0.258 0.092 26.042);

  --color-surface-0: oklch(1 0 0);
  --color-surface-50: oklch(0.985 0 0);
  --color-surface-100: oklch(0.97 0 0);
  --color-surface-200: oklch(0.922 0 0);
  --color-surface-300: oklch(0.87 0 0);
  --color-surface-400: oklch(0.708 0 0);
  --color-surface-500: oklch(0.556 0 0);
  --color-surface-600: oklch(0.439 0 0);
  --color-surface-700: oklch(0.371 0 0);
  --color-surface-800: oklch(0.269 0 0);
  --color-surface-900: oklch(0.205 0 0);
  --color-surface-950: oklch(0.145 0 0);

  --font-size-2xs: 0.625rem;
  --font-size-3xs: 0.5rem;

  --spacing-9\.5: 2.375rem;
  --spacing-13: 3.25rem;
  --spacing-15: 3.75rem;
  --spacing-17: 4.25rem;
  --spacing-18: 4.5rem;
  --spacing-19: 4.75rem;
  --spacing-128: 32rem;
  --spacing-144: 36rem;

  --min-height-5: 1.25rem;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-mask: var(--mask);
  --color-surface: var(--surface);
  --color-color: var(--color);
  --color-error: var(--error);
}

@layer base {
  :root {
    --primary: var(--color-primary-500);
    --background: var(--color-surface-100);
    --mask: rgba(0, 0, 0, 0.4);
    --error: var(--color-error-500);
    --surface: var(--color-surface-200);
    --color: var(--color-surface-700);
  }

  :root.dark {
    color-scheme: dark;
    --primary: var(--color-primary-500);
    --background: var(--color-black);
    --mask: rgba(0, 0, 0, 0.4);
    --error: var(--color-error-500);
    --surface: var(--color-surface-700);
    --color: var(--color-surface-50);
  }

  * {
    @apply border-surface;
  }

  body {
    @apply bg-background text-color;
  }

  h1 {
    @apply mb-4 text-3xl font-bold;
  }

  h2 {
    @apply my-3 text-2xl font-bold;
  }

  h3 {
    @apply my-3 text-xl font-bold;
  }

  p {
    @apply my-4;
  }

  .a {
    @apply text-primary hover:underline;
  }
}
